.blogPost {
    border: solid 1px black;
    padding: 1rem;
    margin-bottom: 5rem;
}

.blogPostImage {
    max-width: 100%;
}

#blogPostTitle {
    width: 100%;
    margin-bottom: 1vh;
}

#blogPostBody {
    width: 100%;
    height: 50vh;
    
    margin-bottom: 1vh;
}

