:root {
    font-size: 16px;
}

body {
    padding: 0;
    margin: 0;

}


main {
    margin-left: 5rem;
    padding: 1rem;
}







.navBar {
    background-color: black;
    position: fixed;
    width: 5rem;
    height: 100vh;
}

.navBar:hover {
    width: 16rem;
}

.navBar:hover .navText {
    display: inline;
}


.flex-nav {
    list-style: none;
    padding: 0;
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: left;
}

.flex-nav li:last-child {
    margin-top: auto;
    margin-bottom: 2rem;
}





.navText {
    display: none;
    color: darkmagenta;
}

.navIcon {
    color: darkmagenta;
    padding: 1rem;
}




.navLink {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.navLink:hover .navIcon {
    color: magenta;
}

.navLink:hover .navText {
    color: magenta;
}

a.navLink {
    text-decoration: none;
}

a.navLink:hover {
    text-decoration: none;
}

a.navLink:visited {
    text-decoration: none;
}

a.navLink:active {
    text-decoration: none;
}