:root {
    font-size: 16px;
}

body {
    padding: 0;
    margin: 0;

}


/********************************************************************************/

.flex-nav {
    list-style: none;
    padding: 0;
    width: 100%;
    height: 100%;

}

.navLink {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.navText {
    display: none;
    color: darkmagenta;
}

.navIcon {
    color: darkmagenta;
    padding: 1rem;
}



.navLink:hover .navIcon {
    color: magenta;
}

.navLink:hover .navText {
    color: magenta;
}

a.navLink {
    text-decoration: none;
}

a.navLink:hover {
    text-decoration: none;
}

a.navLink:visited {
    text-decoration: none;
}

a.navLink:active {
    text-decoration: none;
}


/* For phones and small screens */
@media only screen and (max-width: 800px) {

    main {
        margin-bottom: 5rem;
        padding: 1rem;
    }

    .navBar {
        background-color: black;

        position: fixed;
        bottom: 0;

        width: 100vw;
        height: 2rem;
    }

    .flex-nav {
        
        display: flex;
        flex-direction: row;
        align-items: center;

        padding-bottom: 1rem;
        margin: 0;
    }

    .flex-nav li:last-child {
        margin-left: auto;
    }

    .navIcon {
        font-size: 1vw;
    }
}


/* For desktop and larg screens */
@media only screen and (min-width: 800px) {

    main {
        margin-left: 5rem;
        padding: 1rem;
    }

    .navBar {
        background-color: black;
        position: fixed;
        width: 5rem;
        height: 100vh;
    }

    .flex-nav {
        
        display: flex;
        flex-direction: column;
        align-items: left;
        font-size: 3rem;
    }

    .flex-nav li:last-child {
        margin-top: auto;
        margin-bottom: 4rem;
    }

    .navBar:hover {
        width: 20rem;
    }
    
    .navBar:hover .navText {
        display: inline;
    }
    
}

